body {
    margin: 0;
    font-family: Arial;
    background-color: #eef3f6;
    color: #222222;
}


/* ENCABEZADO */

header {
    background-color: #17466f;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    font-size: 13px;
}


/* MENU */

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 14px;
}


/* CONTENIDO */

main {
    width: 700px;
    margin: auto;
}

section {
    margin-top: 25px;
    margin-bottom: 25px;
}

h2 {
    color: #17466f;
    font-size: 20px;
}

h3 {
    color: #333333;
}


/* MENSAJE */

.mensaje {
    background-color: #d9edf7;
    border-left: 4px solid #168ab8;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* IMAGEN */

img {
    width: 300px;
}

.texto-imagen {
    font-size: 12px;
    font-style: italic;
}


/* TARJETAS */

article {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}


/* TABLA */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #17466f;
    color: white;
}

th,
td {
    border: 1px solid #999999;
    padding: 10px;
}


/* ADVERTENCIA */

.advertencia {
    background-color: #fff1c7;
    border-left: 4px solid #e6b400;
    padding: 15px;
}


/* PIE DE PAGINA */

footer {
    background-color: #17466f;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
}